@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;700&family=Reem+Kufi:wght@400;500;600;700&family=Work+Sans:wght@200&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-color: black;
  background-image: url('./pexels-valeriia-miller-7039532\ \(3\).jpg');
  background-size: 35%;
  background-position: center;
  background-repeat: repeat;
}
